[2015-05-11 18:50] edravis opened #2 "Relax the dependecies"
So, I'm trying to install it on Reactjs 0.13.2, but:

[code]

[2015-05-22 20:53] #2 closed

[2015-05-22 20:54] danawoodman commented on #2
Dropped it down to `0.12`+, let me know if that works for you. Thanks for the PR!

[2015-05-22 21:05] danawoodman commented on #2
Fixed in version `0.2.5` published to npm.

[2015-05-24 10:39] edravis commented on #2
Thanks dude, I'll try again. I solved by bundle my own Fontawesome package ;)

[2016-04-14 05:33] ide opened #9 "Tests are failing because of React 15"
The split between React and ReactDOM added warnings in 0.14 and became an actual error in 15. I'll send a small PR shortly.

[2016-04-14 17:22] danawoodman commented on #9
Thanks @ide  :smile_cat:

[2016-04-14 19:48] #9 closed

[2016-04-27 11:35] adesmet opened #11 "Icon picker"
Nice work! I think an icon picker would be a fine addition to this library (like this one: http://mjolnic.com/fontawesome-iconpicker/)

[2016-05-01 09:07] adesmet commented on #11
Well if I'm not mistaken, your library allows me to display icons (and do some manipulations like rotate). But for a project I'm doing now, I could use an icon picker: a sort of autocomplete component that lets you type in a keyword and display the list of icons matching it. Sort of like a form input, but for icons. Does that make sense?

[2016-05-02 19:00] danawoodman commented on #11
Yeah, I understand what you're proposing. However, this library is just mean to display a single Font Awesome icon. Perhaps a separate library that uses this library would make sense though

[2016-05-04 17:06] jonathanong opened #12 "changelog v1"
don't see any breaking changes for v1 from the git commit log but would be nice if you updated https://github.com/danawoodman/react-fontawesome/blob/master/changelog.md

thanks!

[2016-05-04 18:25] danawoodman commented on #12
@jonathanong you're correct, no breaking changes. I just wanted to indicate on NPM that this is considered "production ready". Sorry for any confusion! I'll update the changelog (forgot to do that!) 👍

[2016-05-06 19:30] aviadhahami opened #13 "Error: Not supported on windows"
Hi,
I'm getting this when trying to install your module:
![image](https://cloud.githubusercontent.com/assets/7353632/15084118/17233038-13da-11e6-98f9-ad5a30b57977.png)

Any suggestions?

[2016-05-10 03:09] danawoodman commented on #13
Thanks for the report @aviadhahami. It seems that `babel` requires `fsevents` as a dependency and since the app runs a build step on `prepublish` (which is run when calling `npm install`), it calls this code.

I went ahead and removed the `prepublish` step so it should now work on windows. Download the latest version, `v1.1.0` and report back if it works or not 😄

[2016-05-10 03:09] #13 closed

[2016-05-11 07:14] andreypopp opened #14 "What's the differences with react-fa?"
https://github.com/andreypopp/react-fa

[2016-05-11 20:58] danawoodman commented on #14
Hey @andreypopp! I actually was inspired by your project when I started this one. The main difference as I see it is react-fontawesome does not require any dependencies, especially the WebPack dependency. I initially couldn't use WebPack on a particular project and wanted something similar to what you created. I now use WebPack heavily but I still like not having the component import it's own vers

[2016-05-11 20:58] #14 closed

[2016-05-11 21:07] #12 closed

[2016-05-11 21:07] danawoodman commented on #12
Resolved, thanks for reporting @jonathanong!

[2016-05-11 21:08] danawoodman commented on #11
Closing but would love to see `react-fontawesome` used in such a library @adesmet 😁

[2016-05-11 21:08] #11 closed

[2016-05-13 07:30] andreypopp commented on #14
Well, you always could use `react-fa` without webpack: `import Icon from 'react-fa/lib/Icon'` and that's it. I'm just don't see the reason to create an identical package, even without first approaching the authors of already existent alternative to describe a use-case which differs slightly from the original one.

[2016-05-16 14:55] csterritt opened #15 "Unable to use this"
Hi -- Thanks for doing this, it looks great.

However, I'm getting the following error when I try to use it:

[code]

Any clues appreciated.

[2016-05-16 15:01] csterritt commented on #15
Fixed!

First, I did:

[code]

Then, set up my web pack.config.json to change the following part from:

[code]

to

[code]

[2016-05-16 20:42] danawoodman commented on #14
@andreypopp this isn't obvious when using your project as it's not documented anywhere but in retrospect I could have contacted you about the matter. I don't see a major issue with having other choices out there but I understand your perspective.

[2016-05-17 00:31] timfpark opened #16 "Icons don't display"
In my hands, after doing an install with:

    npm install --save react-fontawesome

I am not able to see any icons by including something like this in one of my views:

    <FontAwesome name='bars' />

unless I also include Font Awesome's CDN .js in the <head> tag, ala:

    <script src="https://use.fontawesome.com/3bd7769ce1.js"></script>

Are there any other installation steps required beyond t

[2016-05-19 18:43] danawoodman commented on #16
On first look, I would assume that you're not including the CSS?

I'll have a look at this in more detail later today too

[2016-05-19 20:42] timfpark commented on #16
That's right - it sounds like what I am doing then is actually the right way of going about it (for the CDN based approach) - if so go ahead and close this out.

[2016-05-19 21:38] danawoodman commented on #16
@timfpark I'm not familiar with the FA javascript CDN but you could use this one instead: https://www.bootstrapcdn.com/fontawesome/

[2016-05-19 21:47] timfpark commented on #16
Thanks @danawoodman!

[2016-05-19 21:47] #16 closed

[2016-05-22 17:30] danawoodman commented on #16
@timfpark you're welcome 👍

[2016-06-09 06:40] kurttheviking opened #17 "on 1.0+, the npm builds do not always quote 'default' as a key which causes errors on IE8"
In the build, compare this line:

[code]

to this line:

[code]

The second example is from line 9 of the `0.3.3` release and works as expected.

[2016-06-17 18:54] danawoodman commented on #17
Interesting. Thanks for the submission @kurttheviking. Not sure what I can do considering the build is generated by Babel. Any thoughts?

[2016-07-15 22:22] kurttheviking commented on #17
@danawoodman As it turns out, we've found a couple other problems with how Babel deal with "legacy" browsers similar to this. For the time being we are vendoring `react-fontawesome` and applying local modifications (rather than an npm-installable dependency). I don't yet have a common way to apply a Babel transform that fixes these problems yet though; perhaps more on that later...

[2016-07-17 21:07] danawoodman commented on #17
Thanks @kurttheviking let me know if you figure out anything more

[2016-07-17 21:07] #17 closed

[2016-08-03 18:58] danawoodman commented on #15
Hi @csterritt sorry for long delay in replying, must have missed this! Glad you figured it out but it is strange that you got that issue. Can you check to see if it is still a problem for you and reopen if so?

[2016-08-03 18:58] #15 closed

[2016-08-04 12:40] Phyks opened #20 "Consider using aria?"
Hi,

Would be awesome if [accessibility features](http://fontawesome.io/accessibility/) were wrapped as well. That is using `aria-hidden=true` and providing a `prop` to pass an alternate text to put either in an `aria-label` or a hidden `<span>`.

Thanks!

EDIT: I can make a PR for this if you are ok for a review and eventual merge.

[2016-08-10 22:30] danawoodman commented on #20
@Phyks yeah that would be great, PR totally welcome! 👍

[2016-08-17 19:03] acomito opened #22 "size with a decimal?"
I'm having issues doing `size='1.5x'`. It seems only` size='1x'` or `size='2x'` is working. Are decimals not possible?

[2016-08-17 19:52] acomito opened #23 "Best way to handle color change on hover?"
I tried adding a class with css hover effects, but didn't seem to work. Is there another way?

[2016-08-18 04:59] danawoodman commented on #23
@acomito what does the CSS look like? Something like this?:

[code]

Note to color Font Awesome you need to use `color` and that the hover should be directly applied to the class since it just returns a `<span>`

[2016-08-18 05:00] danawoodman commented on #22
@acomito this is just passed to Font Awesome which does not support decimals. See here: http://fontawesome.io/examples/#larger

[2016-08-18 05:00] #22 closed

[2016-08-22 19:26] #23 closed

[2016-08-26 07:43] codermango opened #24 "Use by css pseudo way"
Hello,

I just wanted to use the library like the normal css pseudo way.
For example:
`.demo:after {
    content: ' \f2b4 ';
    font-family: "FontAwesome";
}`

The problem is do I have to add css link in the head?
Is there a way that can be done without doing that? I am implementing react components outside of the whole project and I think it is the best if the components don't depend on files in

[2016-08-29 19:59] danawoodman commented on #24
I'm confused. Why not just use Font Awesome by itself? Seems like there would be no point to use this React library if you're using CSS to inject the icon instead?

[2016-08-29 19:59] danawoodman commented on #23
@acomito what did you do to get it to work for other people that may have the issue?

[2016-08-29 21:07] codermango commented on #24
Sorry for confused. I mean I don't want to add something like this
`<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">`
in `<head></head>`, but I want to use this kind of thing `.demo:after { content: ' \f2b4 '; font-family: "FontAwesome"; }` in my react component implementation.

Is it possible?

[2016-08-29 21:11] acomito commented on #23
I'm using aphrodite for inline/js css and hover is working just as expected.

[2016-09-02 21:19] danawoodman commented on #24
@codermango I don't really know. I guess you could inject the character code in but you'd still need the font for it to work. Think this is beyond the scope of this project so I'm going to close the issue

[2016-09-02 21:19] #24 closed

[2016-09-23 20:17] joeyfigaro opened #25 "Not working with React 15.3.2"
`Warning: React.createElement: type should not be null, undefined, boolean, or number. It should be a string (for DOM elements) or a ReactClass (for composite components).`

**Navigation.js**

[code]

[2016-10-03 15:42] bboysathish opened #26 "Adds two fa-fa class ?"
Hi,

This is happening recently where the font-awesome icons are displayed as flag, while i inspect i see react-fontawesome adds two more fa-fa class.

Details below,
1. Inspected tag
   ![inspected_code](https://cloud.githubusercontent.com/assets/8023447/19043485/f3e48730-89ad-11e6-9629-9bc83a75859e.png)
2. Actual Code
   ![inspect](https://cloud.githubusercontent.com/assets/8023447/19043495/fc0f

[2016-10-04 05:39] electic commented on #25
seeing the same thing too

[2016-10-04 09:53] bboysathish commented on #26
@danawoodman  Any updates on this ?

[2016-10-04 17:10] trakout commented on #25
Was able to fix this by using single-function import syntax:

`import FontAwesome from 'react-fontawesome'`

[2016-10-08 07:38] zhuangya commented on #26
i think you should only write `<Fa name="download" />`

[2016-10-08 18:52] bboysathish commented on #26
@zhuangya Previously it was working.. when it is changed ??

[2016-10-18 04:13] proclaim commented on #25
tried that and still does not work for me =(

[2016-10-26 14:14] amihaiemil opened #27 "How do I use this exactly?"
Hello,

I have trouble getting this to work (I'm new to react so probably I'm missing something obvious).
I installed the lib via npm, declared in package.json and imported in my react class, like this:

![image](https://cloud.githubusercontent.com/assets/6305156/19729373/7372cc02-9b9f-11e6-8482-aff9a483f650.png)

The render method this:

![image](https://cloud.githubusercontent.com/assets/6305156

[2016-10-29 23:34] Casy commented on #27
just add this:
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css');

[2016-11-02 01:15] colemerrick commented on #25
@trakout worked for me

[2016-11-02 15:59] cainaleaouk opened #29 "Icon names do not match website"
Hi there,

I've been trying to use your component, which is working beautifully. Thanks for that.

My problem is, I have to guess 1000 the name of the icon until I get it right, could they match the naming in the font-awesome website? If not, where can I get a list of names and icons? This guessing game is taking way too much development time from me.

Cheers,
Cai

[2016-11-02 20:31] JuHwon commented on #27
is there any better solution?

[2016-11-04 01:06] danawoodman commented on #29
The names should just be the font awesome name minus the `fa-` prefix, does that not work?

[2016-11-04 01:09] danawoodman commented on #26
@bboysathish I haven't changed that functionality, did `<Fa name='download' />` not result in `fa fa-download`?

[2016-11-04 01:11] danawoodman commented on #25
@proclaim what issue are you seeing?

The proper import syntax is as @trakout mentioned, so will close this. @proclaim if you still have an issue, open up a new ticket and I'll have a look.

[2016-11-04 01:11] #25 closed

[2016-11-04 01:14] danawoodman commented on #27
@amihaiemil @JuHwon this repo does not include the FontAwesome assets so you must include them yourself (this is mentioned in the readme). There are many options to do this including using WebPack or just directly linking to them in your page (using CDN or local files, whatever you work)

[2016-11-04 01:14] #27 closed

[2016-11-04 01:15] danawoodman commented on #27
Thanks @Casy for mentioning one option for people

[2016-11-06 21:18] Phyks commented on #20
Sorry, I got really busy lately and missed this one :/ Here is a PR :)

[2016-11-15 19:11] #20 closed

[2016-11-15 19:14] danawoodman commented on #29
Closing, lemme know if you still think this is an issue @cainaleaouk

[2016-11-15 19:14] #29 closed

[2016-11-15 19:14] danawoodman commented on #26
Closing, please re-open if still  an issue @bboysathish

[2016-11-15 19:14] #26 closed

[2016-11-16 01:19] gthomas-appfolio opened #31 "'icon-' prefix?"
Have an issue with some legacy CSS that uses the older FontAwesome 3.x names for icons: `icon icon-*` etc.

Aside from forking the component, is there a way to easily config or extend this component to use the 'icon' in place of 'fa'?

[2016-11-16 20:33] bushmango opened #32 "1.4.0 breaks everything in our Material-UI project"
More details if we figure anything else out -- just verified that updating this package is what breaks our project:

 Update "react-fontawesome" in package.json from 1.3.1 to 1.4.0? Yes

[2016-11-16 21:03] danawoodman commented on #32
@bushmango hmm that is weird. Please let me know what errors you are seeing so I can help

[2016-11-16 21:04] danawoodman commented on #31
Not at this point but a PR would be very welcome to add this

[2016-11-16 22:22] bushmango commented on #32
The error I get is:

Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object. Check the render method of `AppTitleBar`.

[2016-11-16 22:22] bushmango commented on #32
It happens in any component with <FontAwesome /> in it

[2016-11-16 22:24] bushmango commented on #32
Here's our (non-private) dependencies. Notice react 15.3.2
"dependencies": {
    "babel-core": "^6.18.2",
    "babel-loader": "^6.2.7",
    "babel-polyfill": "^6.16.0",
    "babel-preset-es2015": "^6.18.0",
    "bind-decorator": "^1.0.10",
    "chalk": "^1.1.3",
    "copyfiles": "^1.0.0",
    "figlet": "^1.2.0",
    "freezer-js": "^0.11.2",
    "lockr": "^0.8.4",
    "lodash": "^4.17.2",
    "mate

[2016-11-16 23:03] gthomas-appfolio commented on #31
Thanks, no problem.   I'll try and send a PR this week

[2016-11-17 06:33] KagamiChan commented on #32
It seems that as 09f7c01d70eeed1b9d9796a97dcd364abf503dd0 adds another export, which prevents add-module-exports from working, as the module takes effect if only the export default declaration exists

[2016-11-17 18:26] danawoodman commented on #32
@KagamiChan interesting, thanks for observation. Any thoughts on a workaround?

@bushmango for now I would downgrade reat-fontawesome until we fix this

[2016-11-17 18:28] danawoodman commented on #31
Thanks @gthomas-appfolio, closing this in preparation for your PR

[2016-11-17 18:28] #31 closed

[2016-11-17 23:18] KagamiChan commented on #32
If I understand correctly that PR, the exported srOnlyStyle is for test purpose, so maybe we can create a file for this piece of code and require it both in `index.js` and `test.js`. This won't add extra labor for maintaining srOnlyStyle, but might leave some difficulty for those who want to customize the style.

btw. using `import` statement won't be influenced by this PR, only `require` will.

[2016-11-18 18:47] danawoodman commented on #32
Makes sense, I will try and push up a fix unless you beat me to it @KagamiChan 😄

[2016-11-18 20:37] KagamiChan commented on #32
I would like to help given some time. But I feel this issue somewhat urgent because there's risks that it dose not expose until codes get compiled and shipped to users, which did happen for our project.

[2016-11-21 18:06] danawoodman commented on #32
I'll try to get to it today

[2016-11-25 17:25] vsaarinen commented on #32
This also caused our product to break, and required quite a bit of detective work to narrow down the cause. Downgrading to 1.3.1 fixed the problem.

[2016-12-08 06:36] #32 closed

[2016-12-08 06:36] danawoodman commented on #32
Sorry for delay, finally got a a chance to fix this. New release is `v1.5.0`. Can someone try it out and report back? @vsaarinen @KagamiChan @bushmango

[2016-12-08 15:17] jatsrt opened #33 "1.5.0 Error Rendering"
I haven't dug into the details, but on a basic:

[code]

I am getting:

[2016-12-12 20:13] danawoodman commented on #33
@jatsrt that's strange, let me look into it

[2016-12-12 20:48] danawoodman commented on #33
@jatsrt I'm not able to reproduce this. I've created [`examples/`](https://github.com/danawoodman/react-fontawesome/tree/master/examples) directory to troubleshoot the issue, can you check the webpack config and `index.js` file to see if you're using everything right?

[2016-12-14 20:54] danawoodman commented on #33
Closing now, please re-open if you believe it is indeed a react-fontawesome issue!

[2016-12-14 20:54] #33 closed

[2016-12-19 01:21] mhaligowski commented on #27
Any idea how to make it work with npm? I'm using the create-react-app, and was able to use Bootstrap like a charm: https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-bootstrap.

React-fontawesome is super close to that, bot not sure how I can make it work with `fontawesome` package in NPM.

[2016-12-19 02:25] danawoodman commented on #27
@mhaligowski you can install it using `npm install -S react-fontawesome` and then, depending on what your build process is, you will need to include Font Awesome's CSS files. You can use the [CDN version](https://www.bootstrapcdn.com/fontawesome/) or if you're using something like Webpack you can `npm i -S font-awesome` and then in your CSS/SCSS file you can `@import '~font-awesome/scss/font-aweso

[2017-01-08 19:48] cannin opened #35 "Problem stacking icons"
From the Font Awesome examples: http://fontawesome.io/examples/

    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
    </span>

this does not seem to work:

    <FontAwesome name='stack' size='lg'>
      <FontAwesome name='circle' stack='2x' tag="i" />
      <FontAwesome name='flag' inverse stack='1x' tag="i" />

[2017-01-11 20:25] danawoodman commented on #35
This library doesnt (yet) have a stack wrapper, so you need to do this instead:

[code]

[2017-01-11 20:25] #35 closed

[2017-01-11 20:26] danawoodman commented on #35
PR welcome to add that wrapper tho...

[2017-02-06 22:40] chrisdebug opened #36 "Stacked Icons"
How do you do stacked icons?

[2017-02-08 18:56] demands opened #37 "Unknown prop on <span> tag"
Hello! Thanks for this module, it's great! I have just one minor issue, which is that if I use any of the special params like `spin`, `stack`, `pulse`, etc, I get the following warning in my browser console:

[code]

[code]

I can work around this by doing the following:

[code]

...but that's a bummer, since the nicer syntax is half the reason to use this module. Seems like you could solve this b

[2017-02-14 17:53] danawoodman commented on #37
@demands that's strange... shouldn't be the case. Let me investigate.

[2017-02-14 17:53] #37 closed

[2017-02-14 17:57] danawoodman commented on #37
@demands it works for me. Have a look at the `examples` directory and see if you might be missing something in your setup.

![](https://cl.ly/jAj8/Screen%20Recording%202017-02-14%20at%2009.56%20AM.gif)

[2017-02-14 18:03] danawoodman commented on #36
@chrisdebug right now you have to wrap your icons in a span like:

[code]

I added an example to the `examples` directory to demonstrate this: https://github.com/danawoodman/react-fontawesome/blob/master/examples/index.js#L11

I'm welcome to a PR that exports a wrapper component for this if you're looking for something to do 😉

[2017-02-14 18:03] #36 closed

[2017-02-15 18:28] chrisdebug commented on #36
Thanks @danawoodman! I'm pretty busy but if I get any time, I might.

[2017-02-24 12:55] nanookilla opened #39 "React.PropTypes validation warning"
started throwing Don't Call PropTypes Warning referencing [this](https://facebook.github.io/react/warnings/dont-call-proptypes.html) change in react
![ddwa](https://cloud.githubusercontent.com/assets/14779155/23304125/67277314-fa98-11e6-8e07-82d8772dfb43.png)

[2017-03-10 16:32] cainaleaouk commented on #29
Yep seemed to work, thanks!

[2017-03-14 08:17] ashnur commented on #37
Same issue for me.

[2017-03-16 19:09] #39 closed

[2017-04-12 12:13] ahmadsholehin opened #42 "React.createClass is deprecated"
Getting warnings:

[2017-04-12 18:49] danawoodman commented on #42
Thanks @ahmadsholehin, closing this in favor of the PR that should solve this #41

[2017-04-12 18:49] #42 closed

[2017-05-05 13:52] naldir commented on #15
I had the same issue today. The solution proposed worked for me too

[2017-05-05 13:57] naldir opened #43 "NavDropdown html in title"
The fact that the NavDropdown text is in the property "title" makes impossible to render plain html or react components inside it (a fontawesome icon in my case)
Is this possible to fix that ?
This was possible with the original bootstrap element in plain html

[2017-05-05 14:04] naldir commented on #43
Wrong repo it was about react-bootstrap. Closed

[2017-05-05 14:04] #43 closed

[2017-05-05 17:40] goreRatzete opened #44 "No Icons showing"
Hi I just tried this out and couldn't make it work.

I used the following code:
[code]

This is what gets rendered:
[code]

Am I missing something? No Icon shows up.

[2017-05-05 18:08] danawoodman commented on #44
Did you include the FontAwesome font in your project somewhere?

[2017-05-06 06:57] goreRatzete commented on #44
Yes I used npm i and imported it via webpack.

[2017-05-07 03:09] danawoodman commented on #44
If you inspect it in the browser what do you see? Can you look in developers tools and see the assets loading for the FontAwesome fonts?

[2017-05-08 19:17] gabrielrtakeda opened #45 "React v15.5.0 createClass warning."
# Description
When running my personal project, this warning is dispatching:

[code]

I am googled a bit and I found the [React v15.5.0 blog post](https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html#migrating-from-react.createclass).

Basically, is need to make this:

[code]

It has the [React-PropTypes-to-prop-types](https://github.com/reactjs/react-codemod#react-proptypes-to-prop

[2017-05-08 19:33] danawoodman commented on #45
What version of `react-fontawesome` are you using?

[2017-05-08 19:35] danawoodman commented on #45
If you are not on `v1.6.0` or above, please upgrade as that issue should have been fixed already.

[2017-05-08 21:01] gabrielrtakeda commented on #45
Hi, @danawoodman I am using the v1.5.0, thanks for the quick reply and, sorry for the inconvenience.

[2017-05-08 21:01] #45 closed

[2017-05-08 23:31] danawoodman commented on #45
No worries, glad you sorted it out!

[2017-05-12 21:31] je553 commented on #44
I had this same issue, but after adding a `<link />` to the fontawesome stylesheet to my main html app container, it worked fine. Let me know if this works for you!

[2017-05-13 18:43] danawoodman commented on #44
@je553 yeah, this React component does not include the CSS or fonts so that is to be expected 😄

Closing as I assume that was the issue

[2017-05-13 18:43] #44 closed

[2017-05-15 08:24] huyle2607 commented on #44
I just tried and all you need to do is to include the FontAwesome stylesheet into your index.html file. Thanks for your help @je553

[2017-05-15 19:32] novotnej commented on #16
It would be nice if you could add this information to the readme, so that fewer of us have to waste time figuring it out?

Cheers

[2017-05-15 20:23] danawoodman commented on #16
@novotnej this information is in the readme:

![](https://cl.ly/kSXs/Screen%20Shot%202017-05-15%20at%201.23.21%20PM.png)

If you think it should be elsewhere I would accept a PR for it

[2017-05-16 14:36] novotnej commented on #16
My apologies, didn't notice it there. I created a PR where I moved it to the install section, I think it should rather be there than at the end of features..

[2017-05-16 15:20] getreup commented on #32
I had the same problem and this version fixed it for me.

[2017-05-16 16:08] danawoodman commented on #32
Thanks for the confirmation @getreup!

[2017-05-16 16:19] danawoodman commented on #16
That's a better spot for it, thanks!

[2017-05-24 15:43] olegstepura commented on #15
With webpack2 it's inappropriate solution. @see https://gist.github.com/iamakulov/966b91c0fc6363a16ff0650b51fb991b

@danawoodman Will you get rid of this?

[2017-05-25 20:29] danawoodman commented on #15
@olegstepura it would be an issue I would need to address if I upgrade to WebPack 2 but I don't think it should be an issue for consumers of this library. Am I wrong?

[2017-05-26 10:17] olegstepura commented on #15
It is an issue. I'm using webpack 2. And after importing anything from this lib I get the error mentioned above. This stops build, I cannot proceed. But I cannot install `add-module-exports` since it's incompatible with webpack 2. So ignoring this will only lead to not using this lib.

[2017-05-28 07:42] danawoodman commented on #15
@olegstepura I am using WebPack 2 and do not get this error. Can you post your WebPack config?

[2017-05-29 11:07] olegstepura commented on #15
Sure. It's the same as here: https://github.com/olegstepura/postcss-loader-test/blob/master/webpack.config.js

Actually whole config including `package.json` is almost the same.

[2017-06-02 06:51] danawoodman commented on #15
@olegstepura perhaps you could put together a minimal test case where this fails? That config is a bit complex and hard to know what is triggering the issue

[2017-06-02 10:15] olegstepura commented on #15
Please read this: https://github.com/brigade/react-waypoint/issues/186

That issue is about the same thing. There is my comment on how it was **temporarily** solved and how to possibly proceed by library author

[2017-06-07 13:52] Ideki opened #48 "Font Awesome 4.7"
Hi,
Will you update to font Awesome 4.7 which was release in April?
if so, when do you expect to have it ready ?
Thank your for your Awesome work. :)

[2017-06-07 17:39] danawoodman commented on #48
@Ideki have you tried react-fontawesome with FA 4.7? Did you notice anything not working? Things should just work... You have to install FA font outside of react-fontawesome so you can upgrade whenever you want

[2017-06-07 17:39] #48 closed

[2017-06-07 17:39] danawoodman commented on #48
Reopen if you have specific bugs to report 😄

[2017-06-07 18:32] danawoodman commented on #15
So from what I can tell @olegstepura is that you are including react-fontawesome in WebPack. Why not exclude it just as you mentioned in the comment thread?

[2017-06-08 14:22] olegstepura commented on #15
Because that is not a plug-and-play solution.

[2017-06-08 18:42] danawoodman commented on #15
@olegstepura It seems typical to me for people to exclude the node_modules folder. In fact, it seems like a best practice to do so otherwise you're parsing all your node_modules which is incredibly slow and unnecessary. I don't see a compelling reason to change the current behavior at this point

[2017-06-13 15:03] olegstepura commented on #15
@danawoodman Thanks a lot! That was a reasonable comment. I will try to use only compiled versions of all the stuff, excluding `node_modules` completely. But I think it will be good for any library including yours to hanle such situations as well (maybe using `js:next`)

[2017-06-13 16:52] danawoodman commented on #15
@olegstepura no problem 👍  I'll consider it in the future as the WebPack 2 landscape changes 😄

[2017-07-12 16:06] jbernard1 opened #52 "Seems to require css file"
I had the impression that we wouldn't need to depend on a css file however without it nothing gets rendered on my component.

[2017-07-13 15:15] avastamin commented on #52
https://github.com/danawoodman/react-fontawesome/issues/44

[2017-07-14 03:39] danawoodman commented on #52
This would require the use of a build tool like webpack to bundle the CSS and fonts in that case which this project has no intent to require on end users. You can use the CDN version or use webpack or similar in our project. Readme explains how to do this. Thanks for understanding 👍

[2017-07-14 03:39] #52 closed

[2017-08-01 04:34] jayqui opened #53 "Displaying with no dimensions"
I feel like this is an ignorant question, but I can't seem to get `react-fontawesome` working correctly.

As you'll see from this screenshot, the expected `<span>` with `fa fa-search` classes resulting from my `<FontAwesome />` component does show up in the DOM tree in my Chrome devtools. However, Chrome displays it as having dimensions of `0 x 0`, even if I try to force it to have a determinate w

[2017-08-01 15:51] danawoodman commented on #53
Did you include the font awesome CSS somewhere as stated in the readme? That's probably it 😉

[2017-08-01 16:25] jayqui commented on #53
Yes indeed! Given I'm using yarn with es6 import (given I'm using the latest `create-react-app` framework), the following was the remedy:

[code]

**ControlPanel.js**
[code]

[2017-08-01 16:25] #53 closed

[2017-08-01 16:33] danawoodman commented on #53
😜 Thought so! Glad you got it working 👍

[2017-10-06 20:08] nhpace opened #55 "Spin counter-clockwise"
I believe spin spins the icon in a clockwise manner. Any option to spin counter-clockwise?

[2017-10-06 20:17] danawoodman commented on #55
@nhpace I don't think Font Awesome supports that, see [here](http://fontawesome.io/examples/#animated). If they do, let me know and I will reopen!

[2017-10-06 20:17] #55 closed

[2017-10-06 20:27] nhpace commented on #55
https://github.com/FortAwesome/Font-Awesome/pull/3749

[2017-10-06 20:32] danawoodman commented on #55
@nhpace unless FA supports it natively I don't plan to add it since I'm trying to stay 1:1 with their API. Hope you understand! You can always add a `className` with whatever animations you want tho!

[2017-10-06 20:33] nhpace commented on #55
Thanks, that was my plan B! :)

[2017-10-13 07:25] rvmourik opened #56 "How to use the cssModule prop?"
Hi There,

Can't seem to figure out how to get this working with css modules, can you give me some more info then there is already on the api docs page?

Regards,

Robbert

[2017-10-15 17:14] danawoodman commented on #56
@rvmourik Maybe this will help?:
https://github.com/danawoodman/react-fontawesome/pull/21#issuecomment-240645234

If you figure it out I would love a PR to add in some docs on this as I don't use it myself

[2017-10-15 17:14] #56 closed

[2017-10-16 11:47] rvmourik opened #57 "Add Css Modules to readme"
In favor of issue #56 add information about usage of Css Modules to the readme

[2017-10-16 11:49] rvmourik commented on #56
Hi

Created an issue and created a pull request

Robbert

[2017-10-16 16:14] danawoodman commented on #57
Thanks, merged!!!

[2017-10-16 16:14] #57 closed

[2017-10-23 11:32] atulS7inc opened #59 "Icons are not appearing"
I've gone through all the process and also linked the font-awesome css in my "index.html" which is mentioned in Readme file. But still, icons are not appearing.

Icon is rendered successfully and i can see that in DOM -
`<span aria-hidden="true" class="fa fa-rocket fa-3x"></span>`

Using react  version 15.6.1 and react-fontawesome  version 1.6.1

Thanks!

[2017-10-24 02:06] danawoodman commented on #59
@atulS7inc can you check the "Network" tab in Chrome DevTools and make sure the fonts are being loaded for FontAwesome? You may not have the paths in your CSS pointing to the fonts correctly. Reopen if it's still an issue!

[2017-10-24 02:06] #59 closed

[2017-11-05 15:15] jseminck commented on #59
I ran into the same issue. The "problem" for me was that on the npm website, this is the first thing that I read:

I assumed that because of no other dependencies, I also did not have to include font-awesome in one way or another... of course, below the list it does mention the following... but it was easy to read over this. 😄

[2017-11-06 07:37] danawoodman commented on #59
@jseminck a PR to make the readme more clear is welcome 😇

[2017-11-30 22:13] freereikicourse commented on #59
+1 Second time installing and still need to google how to make this thing work... ughhh frustrating

[2017-11-30 22:15] freereikicourse commented on #59
The readme could have some simple steps:

 - Install font-awesome with this command...
 - Import the css with this: `import 'font-awesome/css/font-awesome.css';`

[2017-12-04 23:29] fergatron opened #60 "Unable to view rendered icon"
Hi,
I installed react-fontawesome via npm and imported it into my React app. When I run the app I see the HTML render, but there's no ICON. Looking at web developer tools in Chrome I also don't see any CSS assignments nor a font-awesome css call in the network tab.

[code]

[2017-12-05 20:07] JustinNusca opened #61 "AriaLabel Prop is Effectively Broken"
React-fontawesome provides an `ariaLabel` prop, which provides a fallback label for the visual icon that screenreaders should announce (instead of the unicode character that is rendered).

The current implementation attempts to accomplish this by adding a visually hidden `<span>` for screenreaders will find and read.

This does not work, however, as said span is nested within a parent element that

[2017-12-05 20:09] JustinNusca commented on #61
In case you don't mind PRs, I've [opened one](https://github.com/danawoodman/react-fontawesome/pull/62) that should address this issue, by removing hidden span in favour of using an actual aria-label attribute on the parent element.

[2017-12-06 03:51] prymorsk commented on #60
In your public folder add this line to your index.html file:
    `<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN' crossorigin='anonymous'>`

[2017-12-12 11:11] fabriceci opened #63 "Font Awesome 5 compatibility"
Font Awesome 5 is out and change a bit the class names.

[2017-12-16 02:13] ivanberry commented on #60
Problem still:
 - install react-fontawesome
 - include font-awesome css with CDN or with npm and import
 - In Google DevTools, the font-awesome.css show
 - still fail to see the icons
![image](https://user-images.githubusercontent.com/13112910/34066449-bc46f9ac-e249-11e7-9792-1785390f6cc7.png)

[2017-12-16 21:42] danawoodman commented on #60
@ivanberry can you try to see if FontAwesome works without react-fontawesome? Just try `<span className="fa fa-rocket" />` and see if the icon renders? If it doesn't, your issue is with the CSS not loading for some reason. Also check inspector to see if the font file is being loaded.

Gonna close but re-open if after those steps you still think it is react-fontawesome 👍

[2017-12-16 21:42] #60 closed

[2017-12-16 21:47] danawoodman commented on #63
This will require a bit of change to the API but a proposal or PR is welcome

[2017-12-29 20:48] danawoodman commented on #59
@freereikicourse that is assuming someone is using WebPack and misses some steps (CSS loader, etc). I've updated readme to have info on the CDN version and to link to a blog post on how to get FontAwesome working with WebPack. Hopefully this helps.

[2018-01-07 17:58] WaSa42 opened #64 "Issue with React.Portal ?"
I'm trying to make a sign in button like in this code:
[code]

But when the props are updated and the button is rerendered with a different icon, the code differs from the page:

![image](https://user-images.githubusercontent.com/6498751/34652205-908ba8e6-f3db-11e7-988a-a6f71740d37f.png)

![image](https://user-images.githubusercontent.com/6498751/34652217-a20f12e2-f3db-11e7-82f3-88e2403925a5.png)

[2018-01-07 19:11] danawoodman commented on #64
Unfortunately this doesn’t have to do with react-fontawesome since it is just a simple component.

It looks like you’re passing an object to `icon` which is not how you use this component. Do you have a wrapper around react-fontawesome? If so, what does that look like? Can you send a minimal test example that reproduces this behavior?

Closing since this isn’t a react-fontawesome issue afaik.

[2018-01-07 19:11] #64 closed

[2018-01-07 22:43] WaSa42 commented on #64
I was wondering why you said that I was passing an object to icon.
It's because I confounded you repo with the [FontAwesome 5 repo for React](https://github.com/FortAwesome/react-fontawesome).
Conclusion: I'm a dumb person and sorry for the trouble. x)

[2018-01-09 13:41] fergatron commented on #60
Sorry I never got back to you. As stated the solution was for me to include the CSS file. For some reason I figured it would have been part of the package. I'm still wrapping my head around NPM.

[2018-01-09 18:15] danawoodman commented on #64
Haha, that would do it 😜 glad you figured it out 👌

[2018-01-10 19:46] rheinheimer opened #65 "icon does not change with state change"
I have very basic icon: a folder that should open or close depending on whether or not the item is active. My code looks like `<FontAwesome className="fal fa-lg" name={this.props.active ? "folder-open" : "folder"}/>` This results in the correct icon being rendered the first time, but when another item is activated, the icons do not change.

[2018-01-10 20:32] rheinheimer commented on #65
Quick followup: This is not the right library to use. For FA5: https://github.com/FortAwesome/react-fontawesome

[2018-01-10 21:23] danawoodman commented on #65
Yes, use the official library for Fa 5. Please note you can pass `size=“lg”` instead of class names.

[2018-01-10 21:23] #65 closed

[2018-01-12 21:11] rm-hull opened #66 "Feature request - add support for title attribute ?"
It would be nice if this were supported.
Would you be prepared to accept a PR with this in?

[2018-01-12 23:10] rm-hull commented on #66
ok, cool - missed the bit in the readme that mentioned this: `Add your own classNames, styles and other props (all additional props are passed directly to the component).`

[2018-01-13 00:00] danawoodman commented on #66
Glad you got it working! 🚀

[2018-01-16 15:13] kmvan opened #67 "Got error when npm run test."
[code]

Anybody tried?

[2018-01-29 13:25] frinyvonnick commented on #63
@danawoodman is someone working on this issue ? If not i'll do it 😄

[2018-01-29 20:41] danawoodman commented on #63
@frinyvonnick go for it! Keep in mind that Font Awesome already has their own React component for v5 now

[2018-01-30 07:32] frinyvonnick commented on #63
Oh didn't know it 😕. You are referring to this repository https://github.com/FortAwesome/react-fontawesome ? I'll study this one and if it doesn't fit my needs I will make a pull request. Thanks for the information 👍

[2018-01-30 17:15] danawoodman commented on #63
Exactly. Unless `react-fontawesome` does things the official one doesn't do, I would say go with the official. If you do end up wanting to do a PR, I think we could accomplish it by adding some boolean properties:

[code]

[2018-01-30 17:15] danawoodman commented on #63
Re-open if you think you'll do a PR!

[2018-01-30 17:15] #63 closed

[2018-02-15 04:13] tashburn opened #69 "Please update to Font-Awesome 5"

[2018-02-15 12:27] santosguilherme commented on #69
+1

[2018-02-15 16:13] danawoodman commented on #69
Please use the official font awesome React component for v5.

https://github.com/FortAwesome/react-fontawesome

Reopen if something in React-fontawesome exists that the official component misses.

[2018-02-23 20:11] camloken opened #70 "No title prop"
Sometimes it's helpful to put title's on icons to provide helpful tips on hover. I just realized react-fontawesome doesn't support the title attribute.

[2018-02-23 22:38] danawoodman commented on #70
Actually, it does since we just pass any unknown props to the component. Give it a shot and if it doesn't work, reopen!

[2018-02-23 22:38] #70 closed

[2018-03-01 22:11] camloken commented on #70
Actually, the title attribute is not supported on SVG elements in Chrome. You're right, the title attribute is rendered in the DOM, but chrome doesn't do anything with it, so you can't see it.

[2018-03-02 17:03] danawoodman commented on #70
I’m confused. You’re mentioning SVG but this library doesn’t support the new FA SVG icons. Are you sure you’re not confusing this library with the official FA React Component?

[2018-03-02 22:43] camloken commented on #70
My apologies, I was confused this with the fortawesome/react-fontawesome repo.

[2018-03-02 22:47] danawoodman commented on #70
Haha, no worries, that's what I thought 😉

Have a good weekend 🕺

[2018-03-13 17:22] KagamiChan commented on #69
Our project is using this package everywhere and migration will be too time consuming to take place for now. So I'm working on a compatible version, including:
- using shims taking from official v4-shim (MIT license) to ensure legacy usage
- new Boolean props: `fas`, `far`, `fal` and `fab` for v5 icon sets (if none provided then `fas`), or we could make them more semantic as discussed in #63

@dan

[2018-03-14 16:57] danawoodman commented on #69
@KagamiChan I'm always open to PRs. How do you plan on detecting FontAwesome v5 versus older versions? It would break if you changed from `fa` to `fas`, for example for all existing users of `react-fontawesome`.

One less than ideal option would be to include `fa` as well as `fas|far|fal|fab` eg `fa fas fa-rocket`.

Can you let me know how you're planning on approaching this before you jump off an

[2018-03-14 16:58] danawoodman commented on #67
@kmvan you mean when checking out the git repo and running the tests? Or do you mean in your own test suite?

I'm not aware of any issue with the repository tests failing.

PS sorry for the super long delay in reply!!

[2018-03-15 08:20] KagamiChan commented on #69
Good question, I was considering it as a breaking change.

v5 is divided into different sets and many icon name has changed, which introduced name collisions. So if we're planning to support both v4 and v5 css, without a flag the result could be unexpected.

Example: `glass` in v4 has been renamed to `glass-martini`
`<FA name="glass" />` could render:
[code]
for v4 css, `fa` and `fa-glass` will ta

[2018-03-15 17:41] danawoodman commented on #69
Going to close for now. Feel free to convince me I'm wrong though! 😄

[2018-03-15 17:41] #69 closed

[2018-03-15 17:41] danawoodman commented on #67
Closing till I get more details on how to reproduce

[2018-03-15 17:41] #67 closed

[2018-03-15 17:42] danawoodman commented on #61
@JustinNusca I'm terrible. So sorry for the looooooong delay here. Was a combination of me being out of the country and then playing catchup. Anyways... I'm going to look at this within the next week and try and merge it in. I've been meaning to do a cleanup anyways and this would be a good opportunity. Thanks for your patience

[2018-03-16 05:46] KagamiChan commented on #69
Really appreciate your detail explanation and I understand your concerns.

I'll try to make out a less painful way to migrate with official packages, and append my findings if they worth noting down.

[2018-03-21 00:01] twig-openlearning commented on #69
@danawoodman thanks for the informative responses. would be a good idea to put that in the README to avoid more of these issues being created

[2018-03-21 20:16] danawoodman commented on #69
@KagamiChan @twig-openlearning I have added a note about using the official component in the readme 🕺

[2018-03-26 12:36] sun2rise opened #72 "Title attribute like img"
Is there something like the `title` attribute of the `img` html tag. Or something where to write a short description?

Thanks

[2018-03-26 15:12] danawoodman commented on #72
You can pass a `title` prop and it will be added to the icon HTML tag

[2018-03-26 15:12] #72 closed

[2018-04-14 18:10] preritmohan opened #73 "Font awesome 5 integration"

[2018-04-14 19:41] danawoodman commented on #73
Please use the official font awesome icon instead 👌

[2018-04-14 19:41] #73 closed

[2018-04-18 09:31] henkkah opened #74 "Title prop would be extremely useful"
ie. for having a description for a warning or error etc.

Using a wrapper for the title prop sure works but it's not very elegant and produces unnecessary clutter.

[2018-04-18 14:31] danawoodman commented on #74
You can pass in any prop you want. Try:

[code]

[2018-04-18 14:31] #74 closed

[2018-04-19 08:28] henkkah commented on #74
Sorry, go this mixed up with the [Font Awesome 5 component](https://github.com/FortAwesome/react-fontawesome)...

[2018-05-04 15:21] lukepighetti opened #75 "Cant use brands"
`<FontAwesome name="react"/>` no longer appears to work

it uses class `fa fa-react` when in Font Awesome 5 it should be `fab fab-react`

[2018-05-04 17:32] danawoodman commented on #75
Please use the official Font Awesome React component if you are using FA v5. Cheers 🍺

[2018-05-04 17:32] #75 closed

[2018-05-07 19:37] lukepighetti commented on #75
I didn't even know there was one. :) thanks

[2018-05-07 21:42] danawoodman commented on #75
@lukepighetti yeah they added it with v5 so this component will eventually die 😉 💀

[2018-05-15 02:54] wizzfizz94 commented on #44
Is this part of the readme or on the npm page anywhere? Seems like an important stepup step that isn't addressed in docs.

[2018-05-15 03:11] danawoodman commented on #44
@wizzfizz94 yes, this is right below the install section of the README:

![](https://cl.ly/rZVA/Screen%20Shot%202018-05-14%20at%208.11.24%20PM.png)

[2018-05-16 07:04] wizzfizz94 commented on #44
oh silly me :man_facepalming:
Any recommended guides on configuring a local version with css and fonts locally?

[2018-06-23 11:49] taiharry108 opened #76 "Change style of the font"
Hi, thank you so much for making this. I'm wondering if it is possible to use the style **regular** instead of the default **solid** one.

[2018-06-23 22:05] danawoodman commented on #76
You probably want to check FontAwesome’s official React component. This doesn’t support FontAwesome v5 variants 👍

[2018-06-23 22:05] #76 closed

[2018-06-29 11:18] Nisharunnisaa commented on #15
I am facing  the same error as @csterritt  tried the solution proposed  by him but still getting the same error..can anyone suggest me what to do resolve the issue?

[2018-06-29 15:10] danawoodman commented on #15
@Nisharunnisaa you excluded `node_modules` folder?

[2018-07-01 22:24] alighali85 opened #77 "most of the icons don't work anymore"
hello I think all the icons will not work anymore as FA upgraded to V5, the old components use fa as prefix while the new one uses fab

is there any ready solution for this!

thanks

[2018-07-02 07:17] danawoodman commented on #77
As the readme states, this does t support FA v5. Please use the official FontAwesome component instead.

[2018-07-02 07:17] #77 closed

[2018-07-02 09:02] Nisharunnisaa commented on #15
No i didn't excluded node_modules folder but still facing the issue. is There any alternative @danawoodman ?
Help me with the solution

Thanks in Advance

[2018-07-02 15:32] danawoodman commented on #15
Exclude `node_modules` and see if that fixes it

[2018-07-10 01:52] estebanborai opened #78 "Support for FontAwesome brand icons (FontAwesome v5 Support)"
Hi, I have been using your *react-fontawesome* component and is great!
But I wanted to use the brand icons, and I noticed that the only icons that render are the icons before version 5.

In this new version we can find some of the icons comes  with a new prefix:
`fas fa-play`, `fab fa-js`.

I wanted to know if we are able to add support to this new icon class names.
I have two approaches:

1. Add

[2018-07-10 03:54] danawoodman commented on #78
It’s a bit more complicated than that since you need to support styles as wel (solid, regular, light). My recommendation: use the official React component for FontAwesome, I plan to stop supporting this component because there is now an official version available. Thanks!

[2018-07-10 03:54] #78 closed

[2018-07-18 12:25] tschaka1904 opened #79 "Can you add your own icons to this lib?"
Is there a way of adding my own icons as additional?

[2018-07-24 17:02] danawoodman commented on #79
No, this library is only designed to support Font Awesome's icon font. If you wanted to create your own fonts, you would need to look for other options. Sorry!

[2018-07-24 17:02] #79 closed

[2018-11-15 16:58] Muzietto opened #81 "How to specify the color of the icon? Looks like it's impossible..."
I have been trying to change the drawing color of an icon, without success, e.g.

      <FontAwesomeIcon
        color='red'
        icon={faIcon}
        size='1x'
      />

Now I see at https://github.com/danawoodman/react-fontawesome/blob/HEAD/api.md that the component API does not seem to include "color", so I try:

      <FontAwesomeIcon
        style={{color: 'red'}}
        icon={faIcon}

[2018-11-15 18:58] danawoodman commented on #81
That is strange, there is no reason `style` should not work since we pass down all props to the component. Have you looked at the component in the inspector to make sure it is not being overridden elsewhere?

And yes, we do no provide a `color` prop.

PS, If you're using this with FontAwesome 5,  you should use their official React component

[2019-01-05 20:01] danawoodman commented on #81
Please reopen if you believe this is an issue

[2019-01-05 20:01] #81 closed

[2019-11-05 13:46] TomasHubelbauer opened #83 "Mark repository as archived?"
Hi, it seems this repository is no longer actively maintained. I'm judging this by the fact that the last publish to NPM was three years ago. That's absolutely fine, however, I would like to request that you either mark the repository as archived or add a notice to the README on GitHub and NPM, as that would help people realize immediately. I only noticed after some icons from FA 5 I was using wer

[2019-11-05 19:51] danawoodman commented on #83
@TomasHubelbauer yes, archiving is an option which I will consider, though that would mean that there would be no ability for people to submit bugs or PRs. If there was, for example a security vulnerability, I would not be able to easily be notified of it or resolve it.

I do make a pretty clear message at the top of the readme about FA5:

If you think that message could be more clear, please feel

[2019-11-05 19:51] #83 closed

[2019-11-05 20:07] danawoodman commented on #83
That all said, I did neglect to push up some of the latest changes so I have pushed up a new release `v1.7.1` that includes some minor changes. Thanks for the reminder that I neglected `npm publish` 🤦‍♂

[2019-11-05 21:46] TomasHubelbauer commented on #83
Thanks! Honestly I never saw that message due to my banner blindness, but now I think it is clear enough.

[2020-01-22 21:22] roblevintennis commented on #61
Any updates on this one @danawoodman ?

[2020-02-16 03:28] danawoodman commented on #61
@JustinNusca @roblevintennis the PR for this was merged a while back in `v1.7.0`, sorry should have closed this earlier!

[2020-02-16 03:28] #61 closed

[2020-04-02 07:35] miki-nis opened #91 "Can't get "-o" icon names to render"
I've tried to use icons like in your example but those with "-o" suffix don't show. The base names, without "-o" work fine, however.

I've tried:
[code]

When I visit list of fontawesome icons on their site, there are no alternatives for "-o" suffix. They implement icon variants using classes:
fas (solid icon)
far (regular outlined icon)
fal (light outline)

How do I achieve that with react-fontaw

[2020-04-02 21:38] danawoodman commented on #91
@mickyinba you are using FontAwesome 4 not 5 correct? If you are using FA 5, please see note in readme about using official FontAwesome components instead, this repo only supports FA 4.

That said, the [clock-o](https://fontawesome.com/v4.7.0/icon/clock-o) and other 4.x icons should work assuming you are using the proper version of the FontAwesome font.

If you think this is an issue with FA 4 + r

[2020-04-02 21:38] #91 closed, assigned to nobody

[2021-03-01 18:00] streetlogics opened #94 "Add ref support"
I know this use case is specific to material-ui, but feels like the feature would be useful to have for other projects that use this.

Current use case:
[code]

This currently throws an error because `FontAwesomeIcon` doesn't accept a `ref` attribute that points to the stored ref for the rendered element.  I dug through the source here and seems pretty straightforward to add using https://reactjs.

[2021-03-05 06:34] danawoodman commented on #94
Howdy @streetlogics 👋, are you using FontAwesome 5 or 4? If you're using 5, have a look at the official component: https://github.com/FortAwesome/react-fontawesome

If you're on 4, I would accept a PR to support `forwardRef` in this repo but I'm not actively developing this anymore.

BTW, this repo doesn't use Typescript so you shouldn't need to worry about that unless I'm misunderstanding.

[2021-03-06 00:31] streetlogics commented on #94
lol 🤦  I have no idea how I went from looking at the source here - https://github.com/FortAwesome/react-fontawesome/blob/master/src/components/FontAwesomeIcon.js to filing the issue in this project.    Thanks for the response, I'll go post this there! 👍

EDIT: Turns out someone already reported it to - https://github.com/FortAwesome/react-fontawesome/issues/199 .

[2021-03-06 00:31] #94 closed, assigned to nobody

[2021-03-09 02:15] danawoodman commented on #94
@streetlogics haha no worries, I've done as much or worse myself! Have a good day! 🍻